# Configuration de la base de donnes
spring.datasource.url=

# Configuration JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true

# Configuration de Spring Data JPA
spring.data.jpa.repositories.enabled=true

# Configuration des messages de journalisation (logs)
logging.level.org.springframework=INFO
logging.level.org.hibernate=INFO